<form name="search" method="post" id="searchi" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="search" class="col-md-4 control-label">Search By : </label>
		<div class="col-md-5">
			<select name="searchby" class="selectpicker btn dropdown-toggle selectpicker btn-default" id="selectpickerid" data-toggle="dropdown">
			<option value="a">Client Name</option>
			<option value="b">Serial Number</option>
			<option value="c">RMA Number</option>
			</select>
		</div>
	</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	$("#selectpickerid").change(function(){
	    $("#selectpickerid option:selected").each(function(){
	        if($(this).attr("value")=="a"){
		    $("#searchsi").hide();
		    $("#searchri").hide();
		    $("#searchci").show();
		}
	        if($(this).attr("value")=="b"){
		    $("#searchri").hide();
		    $("#searchci").hide();
		    $("#searchsi").show();
		}
	        if($(this).attr("value")=="c"){
			$("#searchsi").hide();
			$("#searchci").hide();
			$("#searchri").show();
		}
	    });

	}).change();
});
</script>
<form name="searchcompanyname" method="post" action="viewclienticks.jag" id="searchci" class="form-horizontal" role="form">
	<div class="form-group" id="company ">
		<label for="companyname" class="col-md-4 control-label">Company Name : </label>
		<div class="col-md-5">
			<input type="text" name="name" class="form-control" id="companynamei" placeholder="Enter Company Name" /><span id="errcompany" class="error"></span>
			<input type="hidden" name="type" value="company"/>
		</div>
	</div>
	<div class="form-group" id="companysearch">
		<div class="col-md-offset-4">
			<button type="button" class="btn btn-default" id="companybuti" name="searchname">Search</button>
		</div>
	</div>
</form>

<form name="searchserialnumber" method="post" action="searchresult.jag" id="searchsi" class="form-horizontal" role="form">
	<div class="form-group" id="serialnum">
		<label for="serialnumber" class="col-md-4 control-label">Machine Sr Number : </label>
		<div class="col-md-5">
			<input type="text" name="name" class="form-control" id="serialnumberi" placeholder="Enter Machine Serial Number" />
			<span id="errserialnumberi" class="error"></span>
			<input type="hidden" name="type" value="machine"/>
		</div>
	</div>
	<div class="form-group" id="serialnumsearch">
		<div class="col-md-offset-4">
			<button type="button" class="btn btn-default" id="serialbuti" name="searchname">Search</button>
		</div>
	</div>
</form>


<form name="searchrmanumber" method="post" action="searchresult.jag" id="searchri" class="form-horizontal" role="form">
	<div class="form-group" id="rmanum">
		<label for="rmanumber" class="col-md-4 control-label">RMA Number</label>
		<div class="col-md-5">
			<input type="text" name="name" class="form-control" id="rmanumberi" placeholder="Enter RMA number" />
			<span id="errrmanumber" class="error"></span>
			<input type="hidden" name="type" value="rma"/>
		</div>
	</div>
	<div class="form-group" id="compandelet">
		<div class="col-md-offset-4">
			<button type="button" class="btn btn-default" id="rmabuti" name="searchname">Search</button>
		</div>
	</div>
</form>

<script type="text/javascript">
$(document).ready(function (){
$("#companynamei,#serialnumberi,#rmanumberi").val("");
$("#companybuti").click(function (e){
	var objcompanyname = $("#companynamei");
	function checkcompanyname(){
		var pattern = /^([a-zA-Z0-9\.\W]{2,})$/;
		var ans = pattern.test(objcompanyname.val());
		if(ans == true){
			return true;
		}else{
			e.preventDefault();
			$("#errcompany").html("<font color='red'>Invalid Company Name</font>");
			$("#errcompany").val("");
			return false;
		}
	}
	if(checkcompanyname()){
		$('#searchci').submit();
	}
});
$("#serialbuti").click(function (e){
	e.preventDefault();
	$(".error").html("");
	var s = $("#selectpickerid").val();
	var objserialnum = $("#serialnumberi");
	function checkserialnumber(){
		/*var pattern = /^([0-9]{4})-([0-9]{2})-([0-9]{2})$/;*/
		var pattern = /^([a-zA-Z0-9]{2,})$/;
		var ans = pattern.test(objserialnum.val());
		if(ans == true){
			return true;
		}else{
			e.preventDefault();
			$("#errserialnumberi").html("<font color='red'>Invalid Serial Number</font>");
			$("#errserialnumberi").val("");
			return false;
		}
	}
	if(checkserialnumber()){
		$('#searchsi').submit();
	}
});
$("#rmabuti").click(function (e){
	e.preventDefault();
	$(".error").html("");
	var s = $("#selectpickerid").val();
	var objrmanumber = $("#rmanumberi");
	function checkrmanumber(){
		var pattern = /^([a-zA-Z0-9]{2,})$/;
		var ans = pattern.test(objrmanumber.val());
		if(ans == true){
			return true;
		}else{
			e.preventDefault();
			$("#errrmanumber").html("<font color='red'>Invalid RMA Number</font>");
			$("#errrmanumber").val("");
			return false;
		}
	}
	if(checkrmanumber()){
		$('#searchri').submit();
	}
});
});
</script>
