<nav>
<div id='cssmenu'>
	<ul>
		<li><a href='home.jag'><span>Dashboard</span></a></li>

		<li class='active has-sub'><a href='#'><span>Administration</span></a>
			<ul>
				<li><a href='users.jag'><span>Users</span></a></li>

				<li><a href='newuser.jag'><span>Create Users</span></a></li>

				<li><a href='uploadcsv.jag'><span>Upload CSV</span></a></li>
			</ul>
		</li>

		<li class='active has-sub'><a href='#'><span>Warranty</span></a>
			<ul>
				<li><a href='viewwarranty.jag'><span>Warranty Status</span></a></li>
			</ul>
		</li>

		<li class='active has-sub'><a href='#'><span>Ticket</span></a>
			<ul>
				<li><a href='viewwarranty.jag'><span>Create</span></a></li>

				<li><a href='modifyticket.jag'><span>Modify</span></a></li>
				
				<li><a href='deleterecords.jag'><span>Delete</span></a></li>
				
				<li><a href='viewticks.jag'><span>View</span></a></li>
			</ul>
		</li>

		<li><a href='search.jag'><span>Search Tickets</span></a></li>
		<!--<li><a href='searchclients.jag'><span>Search Clients</span></a></li>-->

		<li class='last'><a href='logout.jag'><span>Logout</span></a></li>
	</ul>
</div>
</nav>
