<form name="uploadform" method="post" action="uploadcsv.jag" class="form-horizontal" enctype="multipart/form-data" id="uploadformi" role="form">
<div class="form-group">	
Select a file to Upload:
<span class="btn btn-file"><input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="csvfilename" id="csvfileid" required></input></span>
</div>
<div class="form-group">

<div class="col-md-1">
	<button type="submit" class="btn btn-default" name="submitfile" id="upl">Upload</button>
</div>
</div>
</form>
